.fleet {
  margin: 0em 2em 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fleet-title {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--primary);
}

.replica-container {
  display: flex;
  flex-direction: row;
}
