.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
}

.game-title {
  font-size: 38px;
  font-weight: bold;
  font-family: var(--regular);
  color: var(--primary-dark);
}

.game-view {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
