.replica {
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.replica:active {
  position: relative;
  top: 1px;
}

.placing {
  background-color: var(--primary-dark);
  border-left: 0;
  border-top: 0;
  border-bottom: 2px solid var(--pink-dark);
  border-right: 2px solid var(--pink-dark);
  box-shadow: 0 5px 15px rgba(230, 158, 183, 0.4);
  transform: scale(1.1);
}

.placing:hover {
  background-color: var(--primary-dark);
  opacity: 0.9;
}

.title {
  font-size: 14px;
  text-transform: capitalize;
  font-family: var(--regular);
  color: var(--tertiary);
}

.tile {
  display: flex;
  flex-direction: row;
}

.ship-tile {
  width: 14px;
  height: 14px;
  background-color: var(--pink-dark);
  border: 1px solid var(--pink);
}
